<option value="">Selecciona uno</option>
<option value="Arcas Reales">Arcas Reales</option>
<option value="Arturo Eyries">Arturo Eyries</option>
<option value="Barrio España">Barrio España</option>
<option value="Batallas">Batallas</option>
<option value="Belén - Pilarica">Belén - Pilarica</option>
<option value="Campo Grande">Campo Grande</option>
<option value="Caño Argales">Caño Argales</option>
<option value="Circular">Circular</option>
<option value="Ciudad de la Comunicación">Ciudad de la Comunicación</option>
<option value="Coto de Simancas">Coto de Simancas</option>
<option value="Covaresa">Covaresa</option>
<option value="Cuatro de Marzo">Cuatro de Marzo</option>
<option value="Delicias - Arco de Ladrillo">Delicias - Arco de Ladrillo</option>
<option value="Delicias - Canterac">Delicias - Canterac</option>
<option value="El Berrocal">El Berrocal</option>
<option value="El Peral">El Peral</option>
<option value="El Pinar">El Pinar</option>
<option value="Girón">Girón</option>
<option value="Hospital">Hospital</option>
<option value="Huerta del Rey">Huerta del Rey</option>
<option value="La Antigua - Santa Cruz">La Antigua - Santa Cruz</option>
<option value="La Farola">La Farola</option>
<option value="La Overuela">La Overuela</option>
<option value="La Rubia">La Rubia</option>
<option value="La Victoria">La Victoria</option>
<option value="Las Flores">Las Flores</option>
<option value="Las Villas - Valparaíso">Las Villas - Valparaíso</option>
<option value="Pajarillos Altos">Pajarillos Altos</option>
<option value="Pajarillos Bajos">Pajarillos Bajos</option>
<option value="Parque Alameda - Paula López">Parque Alameda - Paula López</option>
<option value="Parquesol">Parquesol</option>
<option value="Pilarica - Los Santos">Pilarica - Los Santos</option>
<option value="Pinar de Jalón">Pinar de Jalón</option>
<option value="Plaza de Toros">Plaza de Toros</option>
<option value="Plaza España">Plaza España</option>
<option value="Plaza Mayor">Plaza Mayor</option>
<option value="Polígono Argales">Polígono Argales</option>
<option value="Polígono Industrial la Mora">Polígono Industrial la Mora</option>
<option value="Polígono San Cristóbal">Polígono San Cristóbal</option>
<option value="Puente Duero">Puente Duero</option>
<option value="Puente Jardín">Puente Jardín</option>
<option value="Rondilla">Rondilla</option>
<option value="San Isidro">San Isidro</option>
<option value="San Pablo - San Nicolás">San Pablo - San Nicolás</option>
<option value="San Pedro Regalado">San Pedro Regalado</option>
<option value="Soto de Medinilla">Soto de Medinilla</option>
<option value="Urbanización El Pichón">Urbanización El Pichón</option>
<option value="Urbanización El Plantío">Urbanización El Plantío</option>
<option value="Urbanización Entrepinos">Urbanización Entrepinos</option>
<option value="Urbanización Las Aceñas">Urbanización Las Aceñas</option>
<option value="Vadillos">Vadillos</option>
<option value="Villa del Prado">Villa del Prado</option>
